{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
    <h2>Search results: <span>{{ pictures.count }}</span></h2>
    <ul>
        {% for picture in pictures %}
        <li>
            <img src="{{ picture.url }}" alt="{{ picture.title }}">
            <h4><span class="pic-title">{{ picture.title }}</span> by {{ picture.artist }}</h4> 
        </li>
    </ul>
    {% endfor %}
    <a class="back" href="{% url 'pictures' %}">Return to all pictures</a>
{% endblock %}