* {
    box-sizing: border-box;
}
.search {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 5px;
}
nav {
    padding: 10px;
    position: relative;
}
nav form {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
}
nav a {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13, 129, 168);
    background-color: lightgrey;
    border-radius: 5px;
}
.add {
    position: absolute;
    left: 120px;
    top: 10px;
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13, 129, 168);
    background-color: lightgrey;
    border-radius: 5px;
}
body {
    padding-bottom: 30px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.photogur {
    color: grey;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-bottom: 1px solid lightgrey;

}
.photogur a {
    color: grey;
    text-decoration: none;
}
.photo_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 0 40px;
    max-width: 1300px;
    
}
.photo {
    display: inline-block;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    border: 0.5px solid lightgrey;
    padding: 5px;
    margin: 15px;
    max-width: 310px;
}
.main {
    margin-left: 30px;
}
.main ul li img {
    width: 300px;
}
.signuplink {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.signupform {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;    
}
.loginform {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.addform {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;    
}
.editform {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;    
}
footer {
    background-color: rgb(44, 43, 43);
    color: lightgrey;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

